<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdmzl.system.mapper.SysLogininforMapper">

    <resultMap type="SysLogininfor" id="SysLogininforResult">
        <id property="infoId" column="info_id"/>
        <result property="userName" column="user_name"/>
        <result property="status" column="status"/>
        <result property="ipaddr" column="ipaddr"/>
        <result property="loginLocation" column="login_location"/>
        <result property="browser" column="browser"/>
        <result property="os" column="os"/>
        <result property="msg" column="msg"/>
        <result property="loginTime" column="login_time"/>
    </resultMap>

    <select id="listLoginInfoIndex" resultType="com.cdmzl.system.domain.vo.SysLoginInfoIndex">
        select d.date                     as date_str,
               IFNULL(t.login_failed, 0)  as login_failed,
               IFNULL(t.login_success, 0) as login_success
        from (SELECT CURDATE() AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 1 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 2 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 3 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 4 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 5 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 6 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 7 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 8 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 9 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 10 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 11 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 12 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 13 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 14 DAY) AS date
              UNION ALL
              SELECT DATE_SUB(CURDATE(), INTERVAL 15 DAY) AS date) d
                 left join(select DATE_FORMAT(login_time, '%Y-%m-%d')           as login_date,
                                  sum(case when status = '1' then 1 else 0 end) as login_failed,
                                  sum(case when status = '0' then 1 else 0 end) as login_success
                           from sys_logininfor
                           group by DATE_FORMAT(login_time, '%Y-%m-%d')) t on t.login_date = d.date
        GROUP BY d.date, t.login_failed, t.login_success
    </select>

</mapper>
