<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.system.mapper.SchCourseUserMapper">

    <select id="listCourseUser" resultType="com.code.common.core.domain.entity.SysUser">
        select u.*
        from sch_course_user cu
        left join sys_user u on (cu.user_id=u.user_id)
        where course_id=#{courseId}
    </select>

    <resultMap type="SchCourseUser" id="SchCourseUserResult">
        <result property="userId" column="user_id"/>
        <result property="courseId" column="course_id"/>
    </resultMap>
</mapper>
