<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdmzl.dormitory.mapper.DorStudentMapper">

    <!--   查询未入住 -->
    <select id="listStudent" resultType="com.cdmzl.common.core.domain.entity.SysUser">
        select *
        from sys_user
        where user_type = '1'
        <if test="searchValue!= null">
            and nick_name like concat('%', #{searchValue}, '%')
        </if>
        and in_dormitory = 'N'
        order by user_id desc limit 10
    </select>
</mapper>
