<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dormitory.mapper.DorStudentMapper">

    <!--   查询未入住 -->
    <select id="listStudent" resultType="com.code.common.core.domain.entity.SysUser">
        select *
        from sys_user
        where user_type = '1'
          and nick_name like concat('%', #{searchValue}, '%')
          and in_dormitory = 'N'
    </select>
</mapper>
